
:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }
    }
}

.leftForm {
    max-width: 45% !important;
}

.rightForm {
    max-width: 45% !important;
    margin-left: 7%;
}

.verify {
    margin-left: 7.27%;
    margin-top: 1%;
    color: #9e9e9e;
    font: caption;
}

.tog {
    margin-left: 50px;
    margin-top: 18px;
}

.form-max-width {
    max-width: 100% !important;
}


.btn-back {
    float: right; 
    color:white; 
    background-color:#f44336;
}

.btn-edit {
    background-color: rgb(2, 117, 184);
    color:white; 
}

.btn-delete {
    background-color: rgba(219, 18, 18, 0.808);
    color:white;
}

.btn-div-edit {
    margin-left: 2%;
    margin-bottom: 25px;
}

.btn-div-delete {
    margin-left: 60%;
    margin-bottom: 25px;
}