
:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }
    }
}

.btn-save {
    float: right; 
    color:white; 
    background-color:rgb(21, 122, 168);
    margin-right: 23px;
}

.leftForm {
    max-width: 45% !important;
}

.rightForm {
    max-width: 45% !important;
    margin-left: 7%;
}

.verify {
    margin-left: 7.27%;
    margin-top: 1%;
    color: #9e9e9e;
    font: caption;
}

.tog {
    margin-left: 50px;
    margin-top: 18px;
}

.add-file-button {
   /*  position: absolute;
    bottom: -28px; */
    left: 16px;
    z-index: 999;
}

.form-max-width {
    max-width: 100% !important;
}

/* .container-h {
    position: relative;
    width: 50%;
}

.image-h {
  opacity: 1;

  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-h:hover .image-h {
  opacity: 0.3;
}

.container-h:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */

img {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
img:hover {
    opacity: 0.6;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/* .img:hover .edit {
	display: block;
}

.edit {
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #000;
} */