<div class="page-layout simple left-sidenav inner-sidenav">
    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">business_center</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Business Categories Management</span>
            </div>

        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <mat-card>
        <div [formGroup]="form">
            <mat-form-field>
                <mat-select placeholder="Choose Your Type" formControlName="option" [(ngModel)]="business">
                    <mat-option *ngFor="let o of options" [value]="o.value" (click)="onSelect()">
                        {{o.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>


    <mat-card *ngIf="business == 'Categories'">

        <div class="example-header">
            <mat-form-field style="width: 50%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <button mat-raised-button class="btn-add" [routerLink]="['/pages/business-management/add-business','Cat']">
                Add New Category
            </button>
        </div>

        <div *ngIf="dataSource" class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="order">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Order </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.order}}</mat-cell>
                </ng-container>

                <!-- titleAr Column -->
                <ng-container matColumnDef="titleAr">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style=" flex: 0 0 250px;"> Arabic Title
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" style=" flex: 0 0 250px;"> {{row.titleAr}}</mat-cell>
                </ng-container>

                <!-- titleEn Column -->
                <ng-container matColumnDef="titleEn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style=" flex: 0 0 250px;"> English Title
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" style=" flex: 0 0 250px;"> {{row.titleEn}}</mat-cell>
                </ng-container>

                <!-- Sub-Categories Column -->
                <ng-container matColumnDef="subCategories">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style=" flex: 0 0 250px;"> Sub Categories
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row " style=" flex: 0 0 250px;">
                        <span *ngFor="let s of row.subCategories">
                            &#9679; <a
                                [routerLink]="['/pages/business-management/edit-business',s.id]">{{s.titleEn}}</a>
                            <br />
                        </span>
                    </mat-cell>
                </ng-container>


                <!-- icons Column -->
                <ng-container matColumnDef="icons">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button mat-icon-button matTooltip="edit Category" [matTooltipPosition]="'above'"
                            [routerLink]="['/pages/business-management/edit-business',row.id]">
                            <mat-icon style="color:rgb(2, 117, 184)">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="delete Category" [matTooltipPosition]="'above'"
                            (click)="deleteCategoryModal(row, row.id)">
                            <mat-icon style="color: rgba(219, 18, 18, 0.808)">delete</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="100" showFirstLastButtons></mat-paginator>
        </div>

    </mat-card>

    <mat-card *ngIf="business == 'SubCategories'">

        <div class="example-header">
            <mat-form-field style="width: 50%;">
                <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Search">
            </mat-form-field>
            <button mat-raised-button class="btn-add"
                [routerLink]="['/pages/business-management/add-business', 'subCat']">
                Add new SubCategory
            </button>
        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource1" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="order">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Order </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.order}}</mat-cell>
                </ng-container>

                <!-- titleAr Column -->
                <ng-container matColumnDef="titleAr">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style=" flex: 0 0 250px;"> Arabic Title
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" style=" flex: 0 0 250px;"> {{row.titleAr}}</mat-cell>
                </ng-container>

                <!-- titleEn Column -->
                <ng-container matColumnDef="titleEn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style=" flex: 0 0 250px;"> English Title
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" style=" flex: 0 0 250px;"> {{row.titleEn}}</mat-cell>
                </ng-container>

                <!-- Sub-Categories Column -->
                <ng-container matColumnDef="parentCategory">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style=" flex: 0 0 250px;"> Parent Category
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row " style=" flex: 0 0 250px;">
                        {{row.parentCategory.titleEn}}
                    </mat-cell>
                </ng-container>


                <!-- icons Column -->
                <ng-container matColumnDef="icons">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button mat-icon-button matTooltip="edit SubCategory" [matTooltipPosition]="'above'"
                            [routerLink]="['/pages/business-management/edit-business',row.id]">
                            <mat-icon style="color:rgb(2, 117, 184)">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="delete SubCategory" [matTooltipPosition]="'above'"
                            (click)="deleteSubCategoryModal(row, row.id)">
                            <mat-icon style="color: rgba(219, 18, 18, 0.808)">delete</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns1;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </mat-card>

</div>