<div *ngIf="id == 'Cat'" class="page-layout simple left-sidenav inner-sidenav" [class.backdrop-loading]="loadingIndicator == true">
    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">library_add</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Add Category</span>
            </div>

        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <mat-card>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form class="form-max-width mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                [formGroup]="form">

                <div class="h2 mb-24">New Business Category</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" class="leftForm">
                        <input matInput placeholder="English Title" formControlName="titleEn" [(ngModel)]="newCat.titleEn">
                        <mat-error *ngIf="formErrors.titleEn.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" class="rightForm">
                        <input matInput placeholder="Arabic Title" formControlName="titleAr" [(ngModel)]="newCat.titleAr">
                        <mat-error *ngIf="formErrors.titleAr.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div style="margin-top: 20px">
                    <button mat-raised-button class="btn-save" [disabled]="form.invalid" (click)="saveCat()">
                        Save Business Category
                    </button>
                    <button mat-raised-button class="btn-back" (click)="back()">
                        Back
                    </button>
                </div>

            </form>
        </div>

    </mat-card>

    <!-- / CONTENT -->

</div>


<div *ngIf="id == 'subCat'" class="page-layout simple left-sidenav inner-sidenav" [class.backdrop-loading]="loadingIndicator == true">
    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">library_add</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Add SubCategory</span>
            </div>

        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <mat-card>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form class="form-max-width mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                [formGroup]="form">

                <div class="h2 mb-24">New Business SubCategory</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" class="leftForm">
                        <input matInput placeholder="English Title" formControlName="titleEn" [(ngModel)]="newSubCat.titleEn">
                        <mat-error *ngIf="formErrors.titleEn.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" class="rightForm">
                        <input matInput placeholder="Arabic Title" formControlName="titleAr" [(ngModel)]="newSubCat.titleAr">
                        <mat-error *ngIf="formErrors.titleAr.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div *ngIf="categories" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" class="leftForm">
                        <mat-select placeholder="Choose the Category" formControlName="category" [(ngModel)]="category">
                            <mat-option *ngFor="let c of categories" [value]="c">
                                {{c.titleEn}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.category.required">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div style="margin-top: 20px">
                    <button mat-raised-button class="btn-save" [disabled]="form.invalid" (click)="saveSubCat()">
                        Save Business SubCategory
                    </button>
                    <button mat-raised-button class="btn-back" (click)="back()">
                            Back
                        </button>
                </div>

            </form>
        </div>

    </mat-card>

    <!-- / CONTENT -->

</div>

<div *ngIf="loadingIndicator == true" class="loadingIndicator">
    <mat-spinner></mat-spinner>
</div>