<div *ngIf="isParent" class="page-layout simple left-sidenav inner-sidenav" [class.backdrop-loading]="loadingIndicator == true">
    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">edit</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Edit Category</span>
            </div>

        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <mat-card>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                [formGroup]="form">

                <div class="h2 mb-24">Category Information</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" class="leftForm">
                        <input matInput placeholder="English Title" formControlName="titleEn" [(ngModel)]="editedCat.titleEn">
                        <mat-error *ngIf="formErrors.titleEn.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" class="rightForm">
                        <input matInput placeholder="Arabic Title" formControlName="titleAr" [(ngModel)]="editedCat.titleAr">
                        <mat-error *ngIf="formErrors.titleAr.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top:3px;">
                    <div class="leftForm product-image">
                        Category Icon
                    </div>
                    <button mat-mini-fab class="btn-push" (click)="fileInput1.click()" style="margin-left: 15px;" aria-label="Add file" *fuseIfOnDom
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon style="color:white">add</mat-icon>
                    </button>
                    <input hidden type="file" accept="image/*" (change)="onFileChangedCat($event)" #fileInput1/>
                    <div class="profile-img-container">
                        <img src="{{editedCat.icon}}" width="150" height="60" style="margin-left:15px;" class="img img-thumbnail img-circle img-responsive">
                        <a (click)="deleteImageCat($event)"><mat-icon>close</mat-icon></a>
                    </div>

                </div>

                <div style="margin-top:20px;">
                    <button mat-raised-button class="btn-save" [disabled]="form.invalid" (click)="updateCategory()">
                        Update Category
                    </button>
                    <button mat-raised-button class="btn-back" (click)="back()">
                        Back
                    </button>
                </div>

            </form>
        </div>

    </mat-card>

    <!-- / CONTENT -->

</div>

<div *ngIf="isChild" class="page-layout simple left-sidenav inner-sidenav" [class.backdrop-loading]="loadingIndicator == true">
    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">edit</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Edit SubCategory</span>
            </div>

        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <mat-card>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                [formGroup]="form">

                <div class="h2 mb-24">SubCategory Information</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" class="leftForm">
                        <input matInput placeholder="English Title" formControlName="titleEn" [(ngModel)]="editedCat.titleEn">
                        <mat-error *ngIf="formErrors.titleEn.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" class="rightForm">
                        <input matInput placeholder="Arabic Title" formControlName="titleAr" [(ngModel)]="editedCat.titleAr">
                        <mat-error *ngIf="formErrors.titleAr.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div *ngIf="categories" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" class="leftForm">
                        <mat-select placeholder="Choose the Category" formControlName="category" [(ngModel)]="category">
                            <mat-option *ngFor="let c of categories" [value]="c">
                                {{c.titleEn}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.category.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <div class="rightForm product-image">
                        SubCategory Icon
                    </div>
                    <button mat-mini-fab class="btn-push" (click)="fileInput2.click()" style="margin-left: 15px;" aria-label="Add file" *fuseIfOnDom
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon style="color:white">add</mat-icon>
                    </button>
                    <input hidden type="file" accept="image/*" (change)="onFileChangedCat($event)" #fileInput2/>
                    <div class="profile-img-container">
                        <img src="{{editedCat.icon}}" width="150" height="60" style="margin-left:15px;" class="img img-thumbnail img-circle img-responsive">
                        <a (click)="deleteImageCat($event)"><mat-icon>close</mat-icon></a>
                    </div>
                </div>  

                <div style="margin-top:20px;">
                    <button mat-raised-button class="btn-save" [disabled]="form.invalid" (click)="updateCategory()">
                        Update SubCategory
                    </button>
                    <button mat-raised-button class="btn-back" (click)="back()">
                        Back
                    </button>
                </div>

            </form>
        </div>

    </mat-card>

    <!-- / CONTENT -->

</div>

<div *ngIf="loadingIndicator == true" class="loadingIndicator">
    <mat-spinner></mat-spinner>
</div>