<div id="reset-password" fxLayout="column" fusePerfectScrollbar>

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <!-- <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div> -->

            <div class="title">Reset Password</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

   <!--              <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email" >
                    <mat-error *ngIf="loginFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="newPassword">
                    <mat-error *ngIf="resetPasswordFormErrors.password.required">
                        Please Enter the New Password
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" matInput placeholder="Password (Confirm)" formControlName="passwordConfirm" [(ngModel)]="confirmPassword">
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                        Password confirmation is required
                    </mat-error>
                </mat-form-field>

                <!-- <span *ngIf="newPassword && confirmPassword || newPassword != confirmPassword" style="color:firebrick">
                    Password and Confirm should be the Same!
                </span>
 -->
                <button mat-raised-button color="accent" class="submit-button" aria-label="RESET"
                        [disabled]="resetPasswordForm.invalid || newPassword != confirmPassword " (click)="reset()" >
                    Reset My Password
                </button>
                

            </form>

        </div>

    </div>

</div>