<div class="page-layout simple left-sidenav inner-sidenav">
    <!-- HEADER -->

    <div class="header mat-accent-bg p-16 p-sm-24 full-width" fxLayout="row" fxLayoutAlign="start start"
        fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" class="full-width" fxLayoutAlign="start center">

            <div class="logo" fxFlex="50" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">library_books</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Business Management</span>

            </div>
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="end end">
                <button mat-raised-button class="btn-add"
                    [routerLink]="['/pages/global-business-management/add-global-business']">
                    Add new Business
                </button>
            </div>



        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->


    <mat-card>


        <div class="example-header">

            <div fxLayout="row">

                <form class="form-max-width full-width  mr-24 " fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" name="form" [formGroup]="filterForm">

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <div fxFlex="25" class="pr-24">
                            <mat-form-field>
                                <input matInput placeholder="name" formControlName="name">
                            </mat-form-field>
                        </div>
                      
                        <div fxFlex="25" class="pr-24">
                            <mat-form-field>
                                <mat-select placeholder="Status" formControlName="status">
                                    <mat-option *ngFor="let s of selectStatus" [value]="s.value">
                                        {{s.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="25" class="pr-24">
                            <mat-form-field>
                                <input  matInput type="date" matInput placeholder="From" formControlName="from">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25" class="pr-24">
                            <mat-form-field>
                                <input matInput type="date" matInput placeholder="To" formControlName="to">
                            </mat-form-field>
                        </div>


                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <div fxFlex="25" class="pr-24">
                            <app-owners-autocomplete formControlName="owner"></app-owners-autocomplete>
                        </div>


                        <div fxFlex="25" class="pr-24">
                            <app-cities-autocomplete formControlName="city">
                            </app-cities-autocomplete>
                        </div>

                        <div fxFlex="25" class="pr-24">
                            <app-locations-autocomplete formControlName="location" [all]="true">
                            </app-locations-autocomplete>
                        </div>
                        
                        <div fxFlex="25" class="pr-24">
                            <app-business-categories-autocomplete formControlName="category"></app-business-categories-autocomplete>
                        </div>

                        <div fxFlex="25" class="pr-24">
                            <app-business-sub-categories-autocomplete class=" full-width" formControlName="subCategory"
                                [all]="true">
                            </app-business-sub-categories-autocomplete>
                        </div>

                    </div>


                </form>

            </div>

        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource">

                <!-- ID Column -->
                <ng-container matColumnDef="order">
                    <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.order}}</mat-cell>
                </ng-container>

                <!-- nameAr Column -->
                <ng-container matColumnDef="nameAr">
                    <mat-header-cell *matHeaderCellDef>Arabic Name</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.nameAr}}</mat-cell>
                </ng-container>

                <!-- nameEn Column -->
                <ng-container matColumnDef="nameEn">
                    <mat-header-cell *matHeaderCellDef> English Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.nameEn}}</mat-cell>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-chip-list>
                            <mat-chip [ngClass]="{
                         'status-pending' : row.status == 'pending',
                          'status-activated' : row.status == 'activated', 
                          'status-deactivated' : row.status == 'deactivated'
                        }" selected>{{row.status}}</mat-chip>
                        </mat-chip-list>
                    </mat-cell>

                </ng-container>


                <!-- description Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
                </ng-container>


                <!-- icons Column -->
                <ng-container matColumnDef="icons">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button matTooltip="view business" [matTooltipPosition]="'above'" mat-icon-button
                            [routerLink]="['/pages/global-business-management/view-global-business',row.id]">
                            <mat-icon style="color: rgba(41, 163, 102, 0.993)">visibility</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="edit business" [matTooltipPosition]="'above'"
                            [routerLink]="['/pages/global-business-management/edit-global-business',row.id]">
                            <mat-icon style="color:rgb(2, 117, 184)">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="delete business" [matTooltipPosition]="'above'"
                            (click)="deleteModal(row, row.id)">
                            <mat-icon style="color: rgba(219, 18, 18, 0.808)">delete</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="50" [length]="count"></mat-paginator>
        </div>

    </mat-card>

</div>